* {
  margin: 0;
  padding: 0;
}

.menu-toggler {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 3px;
  background-color: #e5dbb5;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -6px);
  transform: rotate(45deg) translate(-9px, -7px);
}

@media (min-width: 768px) {
  .menu-toggler {
    display: none;
  }
}
@media (min-width: 992px) {
  .menu-toggler {
    display: none;
  }
}
@media (min-width: 1200px) {
  .menu-toggler {
    display: none;
  }
}
@media (min-width: 1400px) {
  .menu-toggler {
    display: none;
  }
}

/* .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #505050;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: box-shadow 0.15s ease-in-out;
}
.navbar-toggler-icon {
  display: inline;
  width: 0.5em;

  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
} */

.nav-item {
  font-size: 15px;
}

#beranda .d-flex {
  position: relative;
  display: table;
  border-collapse: separate;
}

#about p {
  text-align: justify;
}
#about .container .row {
  font-style: normal;
  color: #ffffff;
  background-image: url(img/bg/6.jpg);
  position: 0 0 100 0;
  padding-block: inherit;
  border-color: navajowhite 5px;
}

#myCarousel {
  padding-top: 4rem;
}

#galeri {
  background-color: #08470b;
}

#galeri .item:hover {
  transition: 0.5s ease-in-out;
  filter: brightness(60%);
}

#galeri h2 {
  font-size: 50px;
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#galeri-yon {
  padding-top: 6rem;
  font-size: 50px;
  text-align: justify;
  justify-content: center;
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#contact,
h2 {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#persit {
  padding-top: 6rem;
  text-align: justify;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: center;
  /* color: aliceblue; */
}

#dokpersit h2 {
  font-size: 50px;
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#sejarah {
  padding-top: 6rem;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#artilambang {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#pejabatsatuan {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#pejabatsatuan .item:hover {
  transition: 0.5s ease-in-out;
  filter: brightness(60%);
  color: #000000;
}

#pejabatsatuan .card-text {
  float: left;
  width: 100%;
  background: #1c1d15;
  color: #fff;
  margin-bottom: auto;
  text-align: justify;
  padding: 5px;
  position: -ms-page;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

#organisasi {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

/* #tugaspokokdanfungsi {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
} */

#kima {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#kipanA {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#kipanB {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#kipanC {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#kipanD {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#kibant {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#kisus {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#publikasi h2 {
  padding: 10px;
  font-size: 50px;
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#publikasi .link:hover {
  transition: 0.5s ease-in-out;
  filter: brightness(60%);
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#publikasi .card-img {
  float: left;
  width: 100%;
  background: #1c1d15;
  color: #fff;
  margin-bottom: auto;
  text-align: center;
  padding: 5px;
  position: -ms-page;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

#media h2 {
  padding: 10px;
  font-size: 50px;
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#media .link:hover {
  transition: 0.5s ease-in-out;
  filter: brightness(60%);
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#media .card-img {
  float: left;
  width: 100%;
  background: #1c1d15;
  color: #fff;
  margin-bottom: auto;
  text-align: center;
  padding: 5px;
  position: -webkit-sticky;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

#kegiatan {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#page-kegiatan .pcl-decs {
  text-decoration-color: rgb(0, 0, 0);
  color: #dfa811a1;
}

#artikel {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#penugasan {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#prestasi {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}
