* {
  margin: 0;
  padding: 0;
}

#about p {
  text-align: justify;
}

#myCarousel {
  padding-top: 4rem;
}

#about {
  font-style: normal;
  color: rgb(255, 255, 255);
}

#galeri {
  background-color: #08470b;
}

#galeri h2 {
  font-size: 50px;
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#contact {
  color: rgb(255, 255, 255);
}

#sejarah {
  padding-top: 6em;
  text-align: justify;
}

#artilambang {
  padding-top: 6em;
  text-align: justify;
}
