* {
  margin: 0;
  padding: 0;
}

.navbar-toggler-icon {
  position: relative;
  float: right;
  display: none;
}

.nav-item {
  font-size: 15px;
}

#about p {
  text-align: justify;
}

#myCarousel {
  padding-top: 4rem;
}

#about {
  font-style: normal;
  color: #ffffff;
}

#galeri {
  background-color: #08470b;
}

#galeri .item:hover {
  transition: 0.5s ease-in-out;
  filter: brightness(60%);
}

#galeri h2 {
  font-size: 50px;
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#galeri-yon {
  padding-top: 6rem;
  font-size: 50px;
  text-align: justify;
  justify-content: center;
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#contact {
  color: rgb(255, 255, 255);
}

#persit {
  padding-top: 6rem;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  color: aliceblue;
}

#dokpersit h2 {
  font-size: 50px;
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#sejarah {
  padding-top: 6rem;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#artilambang {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#pejabatsatuan {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#organisasi {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#tugaspokokdanfungsi {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#kima {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#kipanA {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#kipanB {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#kipanC {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#kipanD {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#kibant {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#kisus {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#publikasi h2 {
  font-size: 50px;
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#publikasi .link:hover {
  transition: 0.5s ease-in-out;
  filter: brightness(60%);
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#publikasi .card-img-overlay {
  float: left;
  width: auto;
  background: #1c1d15;
  color: #fff;
  margin-bottom: auto;
  text-align: center;
  padding: 0px;
  position: -ms-page;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

#media h2 {
  font-size: 50px;
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#media .link:hover {
  transition: 0.5s ease-in-out;
  filter: brightness(60%);
  color: #dbd7af;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#media .card-img-overlay {
  float: left;
  width: auto;
  background: #1c1d15;
  color: #fff;
  margin-bottom: auto;
  text-align: center;
  padding: 0px;
  position: -ms-page;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

#kegiatan {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#page-kegiatan .pcl-decs {
  text-decoration-color: rgb(0, 0, 0);
  color: #dfa811a1;
}

#artikel {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#penugasan {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}

#prestasi {
  padding-top: 6em;
  text-align: justify;
  justify-content: center;
  color: aliceblue;
}
